.carousel{
    display: flex;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}
.carousel .c-img{
    width: 100%;
    height: 50vh;
}
.carousel .c-img img{
    width: 100vw;
    height: 100%;
    object-fit: cover;
}
.carousel .prev {
    position: absolute;
    top: 40%;
    cursor: pointer;
    filter: invert(1);
    border: 1px solid;
    border-radius: 50%;
    padding: 2px;
    margin-left: 2%;
  }
  
.carousel .next {
    position: absolute;
    top: 40%;
    right: 0;
    cursor: pointer;
    filter: invert(1);
    border: 1px solid;
    border-radius: 50%;
    padding: 2px;
    margin-right: 2%;
  }